package web

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		@Header()
		<body>
			<main class="min-h-screen w-full">
				<h3 class="text-base lg:text-lg font-medium text-center">ISO Auditing Tool</h3>
			</main>
		</body>
		@Footer()
	</html>
}
