package web

templ Header() {
	<head>
		<script src="assets/js/htmx.min.js"></script>
		<script src="https://cdn.tailwindcss.com"></script>
		<meta charset="UTF-8"/>
		<meta name="viewpost" content="with=device-width, initial-scale=1.0"/>
		<title>ISO Auditing tool</title>
	</head>
}
