package templates

import "ISO_Auditing_Tool/templates/components"

templ Base(content templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		@components.Header()
		<body>
			<main class="min-h-screen w-full ">
				@content
			</main>
		</body>
		@components.Footer()
	</html>
}
