
package templates

import "ISO_Auditing_Tool/pkg/types"

templ RequirementsView(standard types.Standard, data map[string]interface{}) {
	<!DOCTYPE html>
	<html lang="en">
		<body>
			<main>
				Requirements View
			</main>
		</body>
	</html>
}
