package components

templ Footer() {
	<footer class="fixed p1 bottom-0 bg-gray-100 w-full border-t">
		<div class="rounded-lg p text-xs italic text-gray-700 text-center">
			&copy: Thermo Fisher Scientific
		</div>
	</footer>
}
